<% provide :title, 'List of authors' %>
<%= render layout: "layouts/detail" do %>
  <% @authors.each do |author| %>
    <tr>
      <td><%= link_to author.name, author_path(author) %></td>
      <td><%= author.books.count %></td>
    </tr>
  <% end %>
<% end %>
