<header>
  <nav>
    <ul class="nav justify-content-center navbar-light nav-tabs">
      <li class="nav-link"><%= link_to 'BOOKS', root_path %></li>
      <li class="nav-link"><%= link_to 'AUTHORS', authors_path %></li>
      <li class="nav-link"><%= link_to 'CATEGORIES', categories_path %></li>
    </ul>
  </nav>
</header>
