<table class="table table-borderless table-sm table-striped">
  <thead class="thead-light">
    <tr>
      <th>Cover</th>
      <th>Name</th>
      <th>Description</th>
      <th>Author</th>
      <th>Categories</th>
    </tr>
  </thead>
    <%= yield %>
</table>
